<div class="four wide column">
  <div class="ui large vertical menu">
    {{region-menu-items region=region}}
  </div>
  <h4>{{date-to-string region.lastUpdate}}</h4>
</div>

<div class="twelve wide column">
    {{outlet}}
</div>
