{{#region-menu-items/menu-item region=region amounts=amounts type='all'}}
  <div class="ui small blue label">
    {{#if fetchAmounts.isRunning}}
      <i class="spinner loading icon"></i>
    {{else}}
      {{amounts.length}}
    {{/if}}
        km
  </div>
{{/region-menu-items/menu-item}}

{{#each menuItems as |item|}}
  {{region-menu-items/menu-item
    region=region
    amounts=amounts
    type=item
  }}
{{/each}}