{{notification-container position="top-right"}}
<div class="three wide column">
  <div class="ui large vertical menu">
    {{#link-to 'init.regions' class='item'}}{{t 'regions'}}{{/link-to}}
  </div>
  
</div>

<div class="thirteen wide column">
    {{outlet}}
</div>
