{{notification-container position="top-right"}}
<div class="sixteen wide column">
  <div class="ui menu">
    {{#link-to 'init.regions' class='item'}}{{t 'regions'}}{{/link-to}}
  </div>
</div>

<div class="sixteen wide column">
    {{outlet}}
</div>
